// Importa as variáveis e mixins do Bootstrap (para customização, se necessário)
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Importa o Bootstrap inteiro
@import 'bootstrap/scss/bootstrap';

// Você pode adicionar seus estilos globais aqui, ou importar outros arquivos SCSS
// @import 'variaveis-brasilcondo.scss';
